version: "3.7"
services:
  browser-test:
    build:
      context: ./
      dockerfile: ./Dockerfile
    image: collabswarm-automerge:latest
    environment:
      - "PORT=3000"
      - "SIGNALING_SERVER=/ip4/127.0.0.1/tcp/9090/wss/p2p-webrtc-star"
      # If rebuild-on-save is not working, try uncommenting the following (may increase CPU usage of system and prevent sleeping):
      # - "CHOKIDAR_USEPOLLING=true"
    ports:
      - 3001:3000
    volumes:
      - ./packages/collabswarm/src:/app/packages/collabswarm/src
      - ./packages/collabswarm-automerge/bin:/app/packages/collabswarm-automerge/bin
      - ./packages/collabswarm-automerge/src:/app/packages/collabswarm-automerge/src
      - ./packages/collabswarm-redux/src:/app/packages/collabswarm-redux/src
      - ./examples/browser-test/public:/app/examples/browser-test/public
      - ./examples/browser-test/src:/app/examples/browser-test/src
      - ./client-config.env:/app/.env
    stdin_open: true
    # working_dir: /app/examples/browser-test
    command:
      - sh
      - -c
      - "ls /; /wait-for-file.sh .env yarn workspace @collabswarm/browser-test start"
  wiki-swarm:
    build:
      context: ./
      dockerfile: ./Dockerfile
    image: collabswarm-automerge:latest
    environment:
      - "PORT=3000"
      - "SIGNALING_SERVER=/ip4/127.0.0.1/tcp/9090/wss/p2p-webrtc-star"
      # If rebuild-on-save is not working, try uncommenting the following (may increase CPU usage of system and prevent sleeping):
      # - "CHOKIDAR_USEPOLLING=true"
    ports:
      - 3000:3000
    volumes:
      - ./packages/collabswarm/src:/app/packages/collabswarm/src
      - ./packages/collabswarm-automerge/bin:/app/packages/collabswarm-automerge/bin
      - ./packages/collabswarm-automerge/src:/app/packages/collabswarm-automerge/src
      - ./packages/collabswarm-redux/src:/app/packages/collabswarm-redux/src
      - ./examples/wiki-swarm/public:/app/examples/wiki-swarm/public
      - ./examples/wiki-swarm/src:/app/examples/wiki-swarm/src
      - ./client-config.env:/app/.env
    stdin_open: true
    # working_dir: /app/examples/wiki-swarm
    command:
      - sh
      - -c
      - "ls /; /wait-for-file.sh .env yarn workspace @collabswarm/wiki-swarm start"
  node:
    build:
      context: ./
      dockerfile: ./Dockerfile
    image: collabswarm-automerge:latest
    environment:
      - "CLIENT_CONFIG_FILE=/app/client-config.env"
      # If rebuild-on-save is not working, try uncommenting the following (may increase CPU usage of system and prevent sleeping):
      # - "CHOKIDAR_USEPOLLING=true"
    ports:
      - 4001:4001
      - 4002:4002
      - 4003:4003
    volumes:
      - ./packages/collabswarm/src:/app/packages/collabswarm/src
      - ./packages/collabswarm-automerge/bin:/app/packages/collabswarm-automerge/bin
      - ./packages/collabswarm-automerge/src:/app/packages/collabswarm-automerge/src
      - ./client-config.env:/app/client-config.env
  star-signal:
    build:
      context: ./
      dockerfile: ./Dockerfile.webrtc-star-signal
    image: collabswarm-automerge-signal:latest
    ports:
      - 9090:9090
