# Test workspaces where tests exist

name: test
on:
  push:
    branches-ignore:
      - docs
  pull_request:
jobs:
  collabswarm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: nodeversion
        run: echo "version=$(grep nodejs .tool-versions | sed -e 's/[^[:space:]]*[[:space:]]*//')" >> $GITHUB_OUTPUT
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.nodeversion.outputs.version }}
          cache: 'yarn'
      - run: yarn install
      - run: yarn workspace @collabswarm/collabswarm test
  
  collabswarm-yjs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: nodeversion
        run: echo "version=$(grep nodejs .tool-versions | sed -e 's/[^[:space:]]*[[:space:]]*//')" >> $GITHUB_OUTPUT
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.nodeversion.outputs.version }}
          cache: 'yarn'
      - run: yarn install
      - run: yarn workspace @collabswarm/collabswarm-yjs test
  
  collabswarm-react:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: nodeversion
        run: echo "version=$(grep nodejs .tool-versions | sed -e 's/[^[:space:]]*[[:space:]]*//')" >> $GITHUB_OUTPUT
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.nodeversion.outputs.version }}
          cache: 'yarn'
      - run: yarn install
      - run: yarn workspace @collabswarm/collabswarm-react test
