# Generate docs and deploy to gh pages on updates to `main`

name: docs
on:
  push:
    branches: [main]
  workflow_dispatch: # https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow
jobs:
  build-and-deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: nodeversion
        run: echo "version=$(grep nodejs .tool-versions | sed -e 's/[^[:space:]]*[[:space:]]*//')" >> $GITHUB_OUTPUT
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.nodeversion.outputs.version }}
          cache: 'yarn'
      - run: yarn install
      - run: yarn workspace @collabswarm/collabswarm doc
      - uses: JamesIves/github-pages-deploy-action@v4.7.2
        with:
          branch: docs # The branch the action should deploy to.
          folder: docs # The folder the action should deploy.
